.form-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    

}

.form-main__box {
    margin: 20px auto;
    width: 100%;
    text-align: left;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}



.form-main__box input{
    margin-top: 20px;
    padding: 10px 12px;
    width: 100%;
    font-size: 15px;
    border-radius: 10px;
}

.button-box {
    margin: 20px 40px 0 0;
    text-align: end;
    width: 100%;
}

.button-box button {
    margin-left: 20px;
    padding: 10px 15px;
    font-size: 18px;
    background-color: #B1B2FF;
    border: 1px solid black;
    border-radius: 10px;
    text-transform: uppercase;
    cursor: pointer;
    transition: color .3s, background-color .3s;
}

.button-box button:hover {
    color: #fff;
    background-color: rgb(143, 32, 233);
}

@media (min-width: 580px) {
    .form-main {
        flex-direction: row;

        
    }

    .form-main__box {
        margin: 10px;
        
    }
}

