.form-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.form-main__box {
    margin: 20px auto;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}



.form-main__box input{
    margin-top: 20px;
    padding: 10px 12px;
    width: 100%;
    font-size: 15px;
    border-radius: 10px;
}