.form-box__main {
	padding: 20px;
	margin: 50px auto;
	background-color: #eef1ff;
	border-radius: 10px;
	text-align: center;
	box-shadow: 0px 0px 10px black;
}

.form-box__btn {
	padding: 10px 15px;
	font-size: 18px;
	background-color: #b1b2ff;
	border: 1px solid black;
	border-radius: 10px;
	text-transform: uppercase;
	cursor: pointer;
	transition: color 0.3s, background-color 0.3s;
}

.form-box__btn:hover {
  color: #fff;
    background-color: rgb(143, 32, 233);
}

@media (min-width: 580px) {
	.form-box__main {
		width: 85%;
	}
}
