.expenses-elements {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 50px auto;
    padding: 10px 20px;
    font-size: 10px;
    background-color: #D2DAFF;
    
}

.expenses-elements__date{
    border-radius: 10px;
    padding: 12px;
    border: 2px solid #fff;
    background-color: #B1B2FF;
}
.expenses-elements__items {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.expenses-elements__items h1 {
    margin: 20px 0 5px 0;
}

.expeneses-elements__price {
    padding: 10px;
    margin: 5px auto;
    font-size: 17px;
   
    border-radius: 20px;
    text-align: center;
    box-shadow: 0px 0px 10px;
    background-color: #AAC4FF;
    font-weight: bold;
}


@media (min-width: 580px){
    .expenses-elements {
        display: flex;
        flex-direction: row;
        font-size: 12px;
        width: 85%;
        
    }
    .expenses-elements__items{
        flex-direction: row;
        width: 100%;
        
    }

    .expenses-elements__items h1 {
        margin: 0 10px;
        width: 100%;
        text-align: left;
        
    }

    

    
}