body {
    background-color: #B1B2FF;
    color: #050505
}
.expenses-title {
    text-align: center;
    font-size: 40px;
}

.app-main {
    margin: 50px auto;
    padding: 40px;
    border-radius: 10px;
    background-color: #AAC4FF;
    max-width: 70%;
    box-shadow: 0px 0px 10px black;
    
}